# === Compiled output ===
dist/
tmp/
out-tsc/
*.tsbuildinfo

# === Dependencies ===
node_modules/

# === Java / Maven ===
target/
*.class
*.jar
*.war
*.log
.mvn/

# === Spring Boot ===
uploads/

# === Angular ===
.angular/

# === IDEs / Editors ===
.idea/
.project
.classpath
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# === System Files ===
.DS_Store
Thumbs.db

# === Misc ===
*.env.local
.sass-cache/
/coverage/
npm-debug.log
yarn-error.log
